<form method="post" action="{{ path('app_quality_content_delete', {'id': quality_content.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quality_content.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>
