{% extends 'base.html.twig' %}

{% block title %}Edit QualityContent{% endblock %}

{% block body %}
    <h1>Edit QualityContent</h1>

    {{ include('pages/quality_content/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_quality_content_index') }}">back to list</a>

    {{ include('pages/quality_content/_delete_form.html.twig') }}
{% endblock %}
